*, :before, :after {
	box-sizing: border-box;
	font-family: HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue','Segoe UI',Helvetica,Arial,'Sans Serif';
}

input {
	width: 300px;
	border: 1px solid #bdc4c9;
	border-radius: 3px;
	font-size: 10pt;
	padding: 8px;
}

input:focus {
	outline: none;
}

input[type="submit"] {
	background-color: #06c;
	color: white;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid white;
}

input[type="submit"]:disabled {
	opacity: 0.5;
}

body {
	margin: auto;
	text-align: center;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.05;
}

.panel {
	margin: auto;
	width: 400px;
	border: 1px solid #888;
	padding: 50px;
	background-color: #fdfdfd;
	border-radius: 5px;
	position: relative;
	top: 30px;
}

.panel header {
	text-align: left;
	margin-bottom: 25px;
	font-size: 1§pt;
	font-weight: normal;
}

.panel input {
	margin-bottom: 10px;
}

.panel error {
	color: red;
	font-size: 10pt;
	text-align: left;
	margin: 10px 0 0 0;
	display: block;
}

.content {
	margin-top: 20px;
}

a, a:active, a:hover, a:visited {
	color: blue;
	font-size: 9pt;
}
